<%- include("../partials/top") %> 

<h1>Edit <%= post.title %></h1>
<form action="/posts/<%= post._id %>?_method=PUT" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" name="post[title]" value="<%= post.title %>">
    </div>
    <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input class="form-control" type="text" id="imageUrl" name="post[image]" value="<%= post.image %>">
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" id="body" name="post[body]" rows="6"><%= post.body %></textarea>
    </div>
        <button class="btn btn-primary btn-block">Submit</button>
</form>
  <form class="mt-2" action="/posts/<%= post._id %>?_method=DELETE" method="post">
    <button class="btn btn-danger btn-block">Delete post</button>
  </form>

<%- include("../partials/bot") %> 